*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 115, 0);
    width: 100%;
    height: 50px;
    position: fixed;
}
.container-head{
    width: 60%;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
    height: 50px;
}
.genere{
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
}
.logo{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 20%;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}
.logo-img{
    width: 100px;
}
.container-main{
    display: flex;
    padding:100px 200px;
    width:82%;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
}
.n{
    width: calc(100%/3);
    padding: 0px 15px;
    margin-bottom:  60px;
}
img{
    width: 100%;
}
.text{
    color: black;
    font-size: 8px;
}
.red{
    background-color: red;
    padding: 3px;
}
.green{
    background-color:green;
    padding: 3px;
}
.block{
    position: relative;
}
.attribute{
    position: absolute;
    left: 0%;
    bottom: 60px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.heart{
    background-color: white;
    position:absolute;
    right: 0%;
    top: 5%;
    padding: 5px;
}
.red-price{
    color: red;
}
.old-price{
    color:grey;
    text-decoration: line-through;
}
img{
    transition: all linear 0.9s;
}
.display{
    position: absolute;
}
.no-display{
    position: relative;
    opacity: 1;
}
.no-display:hover{
    opacity:0;
}
footer{
    width: 100%;
    background-color: black;
}
.container-footer{
    background-color: black;
    color: white;
    display: flex;
    width: 60%;
    margin: auto;
}
.credit{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}
.info{
    width: 50%;
}
ul{
    list-style: none;
}
.social{
    text-align: right;
    width: 50%;
}
li{
    padding-right: 5px;
    display: inline-block;
}
.social li{
    display: inline-block;
    padding: 5px 5px;
}
